.gallery-container {
    padding-top: 250px;
    padding: 80px 20px;
    background-color: #000;
    min-height: 100vh;
    color: white;
    text-align: center;
  }
  

  
  .gallery-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 30px;
    padding: 0 20px;
    justify-items: center;
  }
  
  .gallery-item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .gallery-item img {
    width: 100%;
    max-width: 500px;       /* ⬆️ larger width */
    height: 320px;          /* ⬆️ taller */
    object-fit: cover;
    border-radius: 16px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.5);
    transition: transform 0.3s ease;
  }
  
  .gallery-item img:hover {
    transform: scale(1.05);
  }
  
  
  .gallery-item p {
    margin-top: 10px;
    font-size: 16px;
    color: #ccc;
  }
  .gallery-title {
    margin-top: 45px;
    font-size: 48px;
    margin-bottom: 40px;
    color: white;
    font-weight: 800;
    letter-spacing: 1px;
    text-shadow: 0 2px 6px rgba(0, 0, 0, 0.6);
    background-color: transparent;
  }
  
  